@font-face {
    font-family: 'ALS Schlangesans Bold';
    src: url('ALSSchlangesans-Bold.woff') format('woff');
}
@font-face {
    font-family: 'ALS Schlangesans';
    src: url('ALSSchlangesans.woff') format('woff');
}

body {
    font-family: 'ALS Schlangesans', sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
}

.color-mode {
    --header-bg: #38B7F0;
    --header-text: white;
    --header-font: 'ALS Schlangesans Bold', sans-serif;
    --name-font-weight: bold;
}

.black-white-mode {
    --header-bg: white;
    --header-text: black;
    --header-font: 'ALS Schlangesans', sans-serif;
    --name-font-weight: normal;
}

#header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#logo {
    height: 50px;
    margin-right: 15px;
}

h1 {
    font-size: 24px;
    color: #444;
    margin: 0;
}

#template {
    width: 297mm;
    height: 158mm;
    margin: 0 auto;
    margin-bottom: 40px;
    border: 2px solid #000;
    background-color: #fff;
    position: relative;
    padding: 0;
    box-shadow: none;
    overflow: hidden;
}

#header {
    background-color: var(--header-bg);
    color: var(--header-text);
    font-family: var(--header-font);
    font-size: 72px;
    height: 53mm;
    line-height: 1.2;
    text-align: left;
    padding-left: 10mm;
    padding-right: 10mm;
    word-wrap: break-word;
    overflow: hidden;
    display: flex;
    align-items: center;
    max-width: calc(100% - 20mm);
}

#name {
    font-size: 60px;
    font-weight: var(--name-font-weight);
    margin-top: 10mm;
    margin-bottom: 5mm;
    line-height: 1.0;
    text-align: left;
    padding-left: 10mm;
    font-family: 'ALS Schlangesans', sans-serif;
}

#name span {
    display: block;
    margin-bottom: 0px;
    line-height: 1.0;
}

button, #toggle-color-mode {
    display: block;
    margin: 20px auto;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(90deg, #38B7F0, #2A92BF);
    color: white;
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover, #toggle-color-mode:hover {
    background: linear-gradient(90deg, #2A92BF, #1C6D99);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

@media print {
    #toggle-color-mode, button {
        display: none;
    }
    body {
        margin: 0;
    }
    #template {
        box-shadow: none;
    }
}
