/* Подключение шрифтов */
@font-face {
    font-family: 'ALS Schlangesans Bold';
    src: url('ALSSchlangesans-Bold.woff') format('woff');
}
@font-face {
    font-family: 'ALS Schlangesans';
    src: url('ALSSchlangesans.woff') format('woff');
}

/* Общие стили */
body {
    font-family: 'ALS Schlangesans', sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
}

#header-container {
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background: linear-gradient(90deg, #38B7F0, #2A92BF);
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background: linear-gradient(90deg, #2A92BF, #1C6D99);
}

/* Скрываем все шаблоны по умолчанию */
.template {
    display: none;
}

/* Формат 1 */
#format1 {
    display: block;
}

#format1 #header {
    background-color: #38B7F0;
    color: white;
    font-family: 'ALS Schlangesans Bold', sans-serif;
    font-size: 72px;
    height: 53mm;
    line-height: 1.2;
    text-align: left;
    padding-left: 10mm;
    padding-right: 10mm;
    word-wrap: break-word;
    overflow: hidden;
    display: flex;
    align-items: center;
}

#format1 #name {
    font-size: 60px;
    font-weight: bold;
    margin-top: 10mm;
    margin-bottom: 5mm;
    line-height: 1.2;
    text-align: left;
    padding-left: 10mm;
    font-family: 'ALS Schlangesans', sans-serif;
}

/* Формат 2 */
#format2 {
    display: block;
    width: 297mm;
    height: 210mm;
    margin: 0 auto;
    border: 2px solid #000;
    background-color: #fff;
    position: relative;
    padding: 0;
}

#format2 #fio-container {
    position: absolute;
    top: 128mm;
    left: 17mm;
    width: 265mm;
    height: 60mm;
    font-size: 60px;
    line-height: 1.2;
    text-align: left;
}

#format2 #fio {
    display: block;
}

#format2 #fio-lastname {
    display: block;
}

/* Формат 3 */
#format3 {
    display: block;
    width: 297mm;
    height: 210mm;
    margin: 0 auto;
    border: 2px solid #000;
    background-color: #fff;
    position: relative;
    padding: 0;
}

#format3 #cabinet {
    position: absolute;
    top: 19mm;
    left: 19mm;
    text-align: left;
}

#format3 #room-number {
    font-size: 40px;
    font-weight: bold;
    line-height: 1;
}

#format3 #room-name {
    font-size: 21px;
    margin-top: 15mm;
    display: block;
}

#format3 #fio-container {
    position: absolute;
    top: 128mm;
    left: 19mm;
    width: 265mm;
    height: 60mm;
    font-size: 60px;
    line-height: 1.2;
    text-align: left;
}

#format3 #fio {
    display: block;
}

#format3 #fio-lastname {
    display: block;
}

/* Печать: Скрываем кнопки и другие элементы интерфейса */
@media print {
    #header-container, select, button {
        display: none;
    }

    body {
        margin: 0;
    }

    .template {
        margin: 0 auto;
        border: none;
    }
}
